<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item>
                <em class="material-icons">home</em>
                Home
            </a>
            <a mat-list-item>
                <em class="material-icons">menu_book</em>
                Clientes
            </a>
            <a mat-list-item>
                <em class="material-icons">menu_book</em>
                Lançamentos
            </a>
            
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        teste de content-space
    </mat-sidenav-content>

</mat-sidenav-container>